/*general*/

body{
	margin: 0px;
	font-weight: 200;
	font-family: "Helvetica Neue",Helvetica, Verdana,sans-serif;
	min-width: 425px;
}

.sections{
	height:auto;
	margin: 0px;
}

.rows{
	height: 100%;
	width: 100%;
}

.contents{
/*	height:  480px;*/
	padding-top: 20px;
	margin: 0px auto;
	width: 1200px;
	
}

p{
	color: white;
	font-size: 30px;
}

#xiaoxiao{
	color: white;
}

/*first content*/
/*protfolio --- image*/

.fir{
	position: relative;
	top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    z-index: 10;
}
#bgbg{
	background-image:url('../../images/test.jpg'); 
    width:100%;
    height:620px;
    background-repeat: none;
    background-size:100% 100%;
    z-index:0;
    position:absolute;
    -webkit-filter: blur(10px);
  	-moz-filter: blur(10px);
  	-o-filter: blur(10px);
  	-ms-filter: blur(10px);
  	filter: blur(10px);
}

.imgdiv{
	border-radius:100%;
	width: 15em; height: 15em;
	cursor: pointer;
	position: relative;
	background-color: rgb(255,255,255);
	overflow: hidden;
	position: relative;
	margin:  0 auto;
	margin-top: 100px;
	-webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.imgdiv img{
	border-radius:100%;
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.85;	
}

.imgdiv:before, .imgdiv:after{
	border-radius: 100%;
	content: "";
	position: absolute;
	top:0;
	left:0;
	top: 0; left: 0;
	width: inherit; height: inherit;
	box-shadow: inset 10.6em 0 0 rgba(221, 219, 214, 0.2),
				inset 0 10.6em 0 rgba(221, 219, 214, 0.2),
				inset -10.6em 0 0 rgba(221, 219, 214, 0.2),
				inset 0 -10.6em 0 rgba(221, 219, 214, 0.2);
	-webkit-transition: box-shadow 0.75s;
	   -moz-transition: box-shadow 0.75s;
		-ms-transition: box-shadow 0.75s;
			transition: box-shadow 0.75s;
}

.imgdiv:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.imgdiv:hover:before, .imgdiv:hover:after{
	box-shadow: inset 0.86em 0 0 rgba(113, 221, 198, 0.6),
				inset 0 0.86em 0 rgba(218, 174, 85, 0.6),
				inset -0.86em 0 0 rgba(249, 237, 16, 0.6),	
				inset 0 -0.86em 0 rgba(110, 184, 221, 0.6);
}

/*self introduction*/

.selfintro{
	height: 220px;
	text-align: center;
}

.selfintro p{
	padding-top: 1em;
	font-size: 35px;
}

/*second part content*/
/*what i do*/

.contents .content_header{
	text-align: center;
	margin: 0px 0px 40px 0px;
	font-weight: 200;
}


.sec{
/*	margin: 0px auto 0px auto;*/
	width: 100%;	
	padding-top: 100px;
	padding-bottom: 200px;
	background-image:url("../../images/abstract-1-blur.jpg");
	background-repeat:no-repeat;
    background-size:100% 100%;
}

/*cube transition*/

.cube_wrap{
	 -webkit-perspective: 800;
    -moz-perspective: 800;
    -o-perspective: 800;
    perspective: 800;
	perspective-origin: 50% 50%;
}

.cube_wrap.wrap_first{
	perspective-origin: 20% 50%;
}

.cube_wrap.wrap_second{
	perspective-origin: 40% 50%;
}

.cube_wrap.wrap_third{
	perspective-origin: 60% 50%;
}

.cube_wrap.wrap_fouth{
	perspective-origin: 80% 50%;
}
.cube {
	position: relative;
	width: 180px;
	text-align: center;
	margin: 0 auto;
	padding-right:50px;
	height: 180px;
	float:left;


	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .33s;
	transition: transform .33s; /* Animate the transform properties */

}

/* The two faces of the cube */
.flippety,.flop {
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189, .8);

	-webkit-border-radius: 5px;
	border-radius: 5px;

	-webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
	box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
	height: 180px;
}

/* Position the faces */
.flippety {
	-webkit-transform: translateZ(90px);
	transform: translateZ(90px);
}

.flop {
	-webkit-transform: rotateX(-90deg) translateZ(-90px);
	transform: rotateX(-90deg) translateZ(-90px);
}

/* Rotate the cube */
.cube:hover {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg); /* Text bleed at 90º */
}

.col_first{
	margin-left: 60px;
}

.contents.second {
	padding-bottom: 50px;
}







@media only screen and (max-width: 1000px){

	body{
		min-width: 510px;
	}

	.contents{
		max-width: 599px;
		height: auto;
	}
	.cube{
		width: 180px;
		height: 180px;
		margin: 10px auto;
		padding:0px;
		padding-left: 50px;
	}
	
	.cube_wrap{
		 -webkit-perspective: 1000;
    	-moz-perspective: 1000;
    	-o-perspective: 1000;
    	perspective: 1000;
	}

	.cube_wrap.wrap_first{
		perspective-origin:  50% 200px;
		float:left;
		margin-left: 40px;
	}
	.cube_wrap.wrap_second{
		perspective-origin: 50% 200px;
		float:left;
		margin-left: 10px;
	}

	.cube_wrap.wrap_third{
		perspective-origin:   35% 200px;
		margin-left: 50px;
	}

	.cube_wrap.wrap_fouth{
	perspective-origin: 60% 200px;
	}

	.break_line{
		height: 50px;
		width: 200px;
		clear:both;
	}


}

.clear{
	clear: both;
}








