#backbutton {
	position: fixed;
	bottom: 30px;
	right: 50px;
	height: 45px;
	width: 48px;
	background: none;
	outline: 0;
	border: 0;
	box-shadow: none;
	z-index: 3;
	background-image: url(https://raw.githubusercontent.com/zhaomizhi/zhaomizhi.github.io/master/images/ToTop.png);
}

html, body{
	height: 100%;
}

h2, h3{font-weight: lighter;}

h1 a{
font-size: 36px;
}

h3 a{
	font-size: 30px;
}
.entry-content p{
	font-weight: normal;
	font-size: 18px;
}

#post-header{
	-webkit-box-shadow: 0 0 1px rgba(34,34,34,0.2);
    -moz-box-shadow: 0 0 1px rgba(34,34,34,0.2);
    box-shadow: 0 0 0 0,0 6px 12px rgba(0,0,0,0.1);
    max-width: 800px;
	padding: 20px 80px;
	margin: 20px auto 0px auto;
	background-color: white;
	border-radius: 3px;
}
#post .entry-content{
	padding-top: 0px;
}

#post-header:after{
	content: ".";
	text-align: center;
	box-shadow: 0 0 0 0,0 6px 12px rgba(0,0,0,0.1);
	max-width: 800px;
	padding: 1px 1px;
	margin: 1px auto 0px auto;
	background-color: white;
	border-radius: 3px;
	display: block;
	box-sizing: border-box;
	font-size: 0px;
	position: absolute;

}

#post{
	background-color: white;
}


#post .hentry:before{
	background:white;
    display:block;
    content:".";

    font-size:0;
}

.unmoved-header{
	width: 100%; 
	height: auto; 
	position:fixed; 
	display: block;
	left: 0;
	top: 0;
	text-align:center;
}

.unmoved-header img{
	width: 100%; 
	height: auto; 
	position: relative;
	display: block;
	z-index: -1;
	vertical-align: top;
}

.unmoved-header h1{
	position: absolute;
	z-index: 1;
	height: auto;
	display: block;
	margin:auto;
	width: 100%;
    vertical-align:middle;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	text-align:center;
	font-size: 80px;
	color: white;

}

div#homecontent{
	display: block;
	height: auto;
	background-color:  #e8e8e8;
	z-index: 2;
	position: relative;	
}

#homecontent article{
	width: 60%;
/*	text-align: center;;*/
	margin: 0 auto;
}

article.hentry{
	background-color: white;
}

.pagination{
	height: 40px;
}

.footer , article header, #post-header{
text-align: center;}

.footer{
	padding-bottom: 15px;
}

.entry-content{
	padding: 5px 30px;
}

.entry-title{
	font-weight: normal;
}

article::after{
	content: "<hr>";
	width: 15%;
	height: 30px;
	/*visibility: hidden;*/
}

