#backbutton {
	position: fixed;
	bottom: 30px;
	right: 50px;
	height: 45px;
	width: 48px;
	background: none;
	outline: 0;
	border: 0;
	box-shadow: none;
	z-index: 3;
	background-image: url(https://raw.githubusercontent.com/zhaomizhi/zhaomizhi.github.io/master/images/ToTop.png);
}

html, body{
	height: 100%;
}


.unmoved-header{
	width: 100%; 
	height: auto; 
	position:fixed; 
	display: block;
	left: 0;
	top: 0;
	text-align:center;
}

.unmoved-header img{
	width: 100%; 
	height: auto; 
	position: relative;
	display: block;
	z-index: -1;
	vertical-align: top;
}

.unmoved-header h1{
	position: absolute;
	z-index: 1;
	height: auto;
	display: block;
	margin:auto;
	width: 100%;
    vertical-align:middle;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	text-align:center;
	font-size: 80px;
	color: white;

}

div#homecontent{
	display: block;
	height: auto;
	background-color:  #e8e8e8;
	z-index: 2;
	position: relative;	
}

#homecontent article{
	width: 60%;
	text-align: center;;
	margin: 0 auto;
}

article.hentry{
	background-color: white;
}

.pagination{
	height: 40px;
}
.footer{
right: 60%;
font-size: 10px;
}


