#backbutton {
	position: fixed;
	bottom: 60px;
	right: 50px;
	height: 48px;
	width: 48px;
	background: none;
	outline: 0;
	border: 0;
	box-shadow: none;
	z-index: 3;
	background-image: url(https://raw.githubusercontent.com/zhaomizhi/zhaomizhi.github.io/master/images/ToTop.png);
}

html, body{
	height: 100%;
}

div.entry-content img{
	width: 300px;
	height: 300px;
	
}

h2, h3{font-weight: lighter;}

h1 a{
font-size: 36px;
}

h3 a{
	font-size: 30px;
}
.entry-content p, .read-more-content p, .pagination{
	font-weight: 200;
	font-size: 16px;
}
.footer,.footer-wrapper{
	font-weight: 200;
	font-size: 14px;
}

p a{
	color: #525252;
}
p a:hover{
	color: black;
}

/*poset-header---remove the bottom space*/
#post-header ,#post .entry-content {
    padding: 20px 15px 0px;
    margin: 40px 2px 0px 2px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;}

#post-header{
	 box-shadow: 0 0 0 0,0 -6px 12px rgba(0,0,0,0.1);
	 margin-top: 0px;
}
#post .entry-content{
	box-shadow: 0 0 0 0,0 6px 12px rgba(0,0,0,0.1);
	padding-top: 0px;
}

.about-content{
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 -6px 12px rgba(0,0,0,0.1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	padding: 20px 15px 20px;
    margin: 40px 2px 20px 2px;
    background-color: white;
}

@media only screen and (min-width: 48em) {
	 #post-header {
	    padding: 20px 30px 10px;
	    margin-right: 10px;
	    margin-left: 10px;
	    margin-bottom: 0px;
		}
	#post .entry-content {
	    padding: 0px 30px 20px;
	    margin-right: 10px;
	    margin-left: 10px;
		margin-top: 0px;
		position: relative;
		top: -30px;
		}
	
	div.entry-content img{
	margin-left: 170px;
}
}

@media only screen and (min-width: 30em){
	.about-content{
    max-width: 600px;
    padding: 20px 80px 50px;
    margin: 50px auto 30px auto;
}
	div.entry-content img{
	margin-left: 170px;
}

}


@media only screen and (min-width: 62.5em) {
#post-header {
    max-width: 800px;
    padding: 15px 80px 10px;
    margin: 30px auto 0px auto;
}
#post .entry-content {
    max-width: 800px;
    padding: 20px 80px 50px;
    margin: 0px auto 30px auto;
    top:-30px;
    position: relative;
}
.about-content{
    max-width: 800px;
    padding: 20px 80px 50px;
    margin: 50px auto 30px auto;
    background-color: white;
 
}

div.entry-content img{
	margin-left: 170px;
}



}



#post{
	background-color: white;
}




.unmoved-header{
	width: 100%; 
	height: auto; 
	position:fixed; 
	display: block;
	left: 0;
	top: 0;
	text-align:center;
}

.unmoved-header img{
	width: 100%; 
	height: auto; 
	position: relative;
	display: block;
	z-index: -1;
	vertical-align: top;
}

.unmoved-header h1{
	position: absolute;
	z-index: 1;
	height: auto;
	display: block;
	margin:auto;
	width: 100%;
    vertical-align:middle;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	text-align:center;
	font-size: 80px;
	color: white;

}

div#homecontent{
	display: block;
	height: auto;
	background-color:  white;
	z-index: 2;
	position: relative;	
}

#homecontent article{
	width: 60%;
/*	text-align: center;;*/
	margin: 0 auto;
}

.test-index .hentry{
	background-color: white;
}

.pagination{
	height: 40px;
}

.footer , article header, #post-header{
text-align: center;}

.footer{
	padding-bottom: 15px;
}

.entry-content{
	padding: 5px 30px;
}

.entry-title{
	font-weight: 200;
	line-height: 200%;
}

article::after{
	content: "<hr>";
	width: 15%;
	height: 30px;
	/*visibility: hidden;*/
	font-size: 0px;
}
.header-title h1 {
	font-weight: 100;
}

