<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
<!-- {% include head.html %} -->
<!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/about.css "> -->


<link rel="stylesheet" type="text/css" href="../assets/css/about.css">

</head>

<body >


<!-- {% include browser-upgrade.html %}
{% include navigation.html %} -->


<div class = "container">
	<div id = "bgbg" ></div>
	<section class = "sections fir">
			
			<div class = "contents">
				<div class = "imgdiv"><img src="../images/about1.JPG">
				</div>
				<div class = "selfintro" >
				<p id = "xiaoxiao">
					Hi, I am Xiaoxiao.
				</p>
			</div>
		</div>
	</section>




	<section class = "sections sec">

		<div class = "contents">
			<p class = "content_header">What I Do</p>
					
			<div class = "cube_wrap wrap_first">				
				<div class="cube col_first">
					<div class="flippety">
						<h1>Flipy</h1>
					</div>
					<div class="flop">
						<h2>Flop</h2>
					</div>
				</div>
			</div>

			<div class = "cube_wrap wrap_second">	
				<div class="cube">
					<div class="flippety">
						<h1>Flipy</h1>
					</div>
					<div class="flop">
						<h2>Flop</h2>
					</div>
				</div>
			</div>
			<div class = "break_line"></div>
			<div class = "cube_wrap wrap_third">	
				<div class="cube">
					<div class="flippety">
						<h1>Flipy</h1>
					</div>
					<div class="flop">
						<h2>Flop</h2>
					</div>
				</div>
			</div>
			<div class = "cube_wrap wrap_fouth">	
				<div class="cube">
					<div class="flippety">
						<h1>Flipy</h1>
					</div>
					<div class="flop">
						<h2>Flop</h2>
					</div>
				</div>
			</div>
			</div>
					
			<div class = "clear"></div>


	</section>

	<section class = "sections">
		<div class = "contents third"  >
			<p class = "content_header">Demos</p>
			<div class="view view-second">
    			<img src="../images/todo.png" />
   			 	<div class="mask"></div>
    			<div class="content">
        			<h2>Hover Style #2</h2>
        			<p>Some description</p> 
        			<a href="#" class="info">Read More</a>
    			</div>
			</div>

		</div>
		
		
		
	</section>

<div><h1>My Experiences</h1></div>
		<div>
			<h3>To-do List</h3>
			<h5>HTML5 CSS3 JAVASCRIPT</h5>	
			<h5>contentediable/drag and drop/</h5>		
			<h5>LocalStorage</h5>
		</div>

</div>



<!-- {% include scripts.html %}  -->
 
</body>
</html>
