<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
<!-- {% include head.html %} -->
<!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/about.css "> -->


<link rel="stylesheet" type="text/css" href="../assets/css/about.css">

</head>

<body >

<!-- {% include browser-upgrade.html %}
{% include navigation.html %} -->


<div class = "container">
	<section class = "sections">
		
			<div class = "contents fir">
				<div class = "imgdiv"><img src="../images/about1.JPG">
				</div>
				<div class = "selfintro" >
				<p>
					Hi, I am Xiaoxiao.
				</p>
			</div>
		</div>
	</section>
	<section "sections">

			<div class = "contents sec" >
				<p>What I Do</p>				
					<div class = "col  span_1_of_3"><p class = "title">Code</p></div>
					<div class = "col span_2_of_3"><p class = "title">Design</p></div>
					<div class = "col  span_1_of_3"><p class = "title">Solve Problems</p></div>
					<div class = "clear"></div>
			</div>

	</section>

	<section class = "sections">

		<div>sadasdasd</div>
	</section>

</div>



<!-- {% include scripts.html %}  -->
 
</body>
</html>
