<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body class = "test-index">

{% include browser-upgrade.html %}
{% include navigation.html %}

<div class = "homepage">
<div class = "unmoved-header">
<h1 id = "fittext1" >{{ site.title }}</h1>
<img src="{{ site.url }}/images/{{ page.image.feature }}">
</div>
<div id = "homecontent" role = "main">
{{ content }}

{% include backbutton.html %}

  <footer class = "footer">
    {% include footer.html %}
 </footer>
</div>
</div>

{% include scripts.html %}  
</body>
</html>