<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"><!--<![endif]-->
<head>
<!-- {% include head.html %} -->
<!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/about.css "> -->

<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<link rel="stylesheet" type="text/css" href="../assets/css/testsss.css">
<script type="text/javascript" src = "../assets/js/vendor/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

</head>

<body>
	<ul class = "slideshow">

		<li><img class = "not-selected" id = "nigth-sky" src="../images/bg_nasa_3.jpg" alt = "nasa_3"></li>
		<li><img class = "not-selected" id = "motion-blur" class = "selected" src = "../images/bg_nasa_2.png" alt = "nasa_2" ></li> 
		 <li><img id = "black-white-galaxy" src = "../images/bg_nasa_1.jpg" alt = "nasa_1" ></li>
		 <li><img class = "not-selected" id ="earth" src="../images/bg_nasa_4.png" alt = "nasa_4"></li>
	</ul>
	<div class = "main">
		<header> 
			<div class = "imgdiv"><img src="../images/about1.JPG">
			</div>
			<p> 赵潇潇 | Xiaoxiao Zhao</p>
			<div class = "clear"></div>
		</header>
		<div class = "container">
			<nav>
				<ul>
					<li><a class = "nav-links " href="#1">Projects</a></li>
					<li><a class = "nav-links" href="#2">Experiments</a></li>
					<li><a class = "nav-links" href="#3">Photography</a></li>
					<li><a class = "nav-links" href="#4">About</a></li>
				</ul> 		
			</nav>
			<div class = "contents-cube">
				<div class = "cube_wrap wrap_first">	
					<div class="cube ">
						<div class="flippety">
							<h1>Flipy</h1>
						</div>
						<div class="flop">
							<h2>Flop</h2>
						</div>
					</div>
				</div>
				<div class = "cube_wrap wrap_second">	
					<div class="cube">
						<div class="flippety">
							<h1>Flipy</h1>
						</div>
						<div class="flop">
							<h2>Flop</h2>
						</div>
					</div>
				</div>
				<div class = "clear"></div>
				<div class = "cube_wrap wrap_third">	
					<div class="cube">
						<div class="flippety">
							<h1>Flipy</h1>
						</div>
						<div class="flop">
							<h2>Flop</h2>
						</div>
					</div>
				</div>
				<div class = "cube_wrap wrap_fouth">	
					<div class="cube">
						<div class="flippety">
							<h1>Flipy</h1>
						</div>
						<div class="flop">
							<h2>Flop</h2>
						</div>
					</div>
				</div>
			</div>

			<div class = "content-experiements" >
			<!-- <div class = "julia-shadow"></div> -->
			<div class = "grid">
				<figure class = "effect-julia">
					<img src="../images/todo.png" alt = "to-do-list">
					<figcaption>
						<h3>To-do List</h3>
						<div>
							<p>HTML5 + CSS3</p></br>
							<p>JavaScript LocalStorage</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class = "grid">
				<figure class = "effect-julia">
					<img src="../images/todo.png" alt = "to-do-list">
					<figcaption>
						<h3>To-do List</h3>
						<div>
							<p>HTML5 + CSS3</p></br>
							<p>JavaScript LocalStorage</p>
						</div>
					</figcaption>
				</figure>
			</div>

			<div class = "grid">

				<figure class = "effect-julia">
					<img src="../images/todo.png" alt = "to-do-list">
					<figcaption>
						<h3>To-do List</h3>
						<div>
							<p>HTML5 + CSS3</p></br>
							<p>JavaScript LocalStorage</p>
						</div>
						<a href="">Code</a>
					</figcaption>
				</figure>
			</div>
			<div class = "grid">
				<figure class = "effect-julia">
					<img src="../images/todo.png" alt = "to-do-list">
					<figcaption>
						<h3>To-do List</h3>
						<div>
							<p>HTML5 + CSS3</p></br>
							<p>JavaScript LocalStorage</p>
						</div>
					</figcaption>
				</figure>
			</div>


			<div class = "clear"></div>
		</div>
<div class = "clear"></div>
		</div>
	</div>
</body>
</html>